.logo {
  background: rgba(170, 82, 253, 0);
  margin: 10px 24px 16px 0;
  padding: 5px 5px;
  float: left;
  font-weight: bolder;
}
.hello {
  color: rgb(230, 225, 215);
  background-color: rgba(6, 8, 32, 0);
  font-weight: bold;
}
.tabxt {
  background-color: rgba(32, 13, 6, 0);
  color: rgb(241, 236, 235);
  font-weight: bold;
}
.tub {
  color: rgb(218, 241, 241);
  background-color: #060118cd;
  font-weight: bold;
}
.headbig {
  background-color: #0b085e;
}
.head2 {
  background-color: rgba(0, 0, 0, 0.068);
}

.footer-div {
  background-color: #0b085e;
  color: #f5f5f5;
}
